.playlist-song-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.display-songs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}