.text {
  color: #88899f;
}

.album-art{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.button {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  color: white;
  width: 100px;
  border: none;
}

.well {
  background: red;
  color: white;
}