.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background: #222326;
  height: 300px;
}

.nav-button {
  display: flex;
  align-items: baseline;
  background: inherit;
  color: #ffffff;
  border: none;
  height: 60px;
  width: 100vw;
  font-size: 20px;
  border-top: 2px solid #686868;
}