.song-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 320px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.display-songs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 274px;
  color: #ffffff;
  background: linear-gradient(
      45deg,
      rgb(250, 35, 81, 0.5) 30%,
      rgb(172, 83, 255, 0.5) 90%
    ),
    url(../../headphones-small.png);
}

.search-container {
}

.request-button {
  background: #1aa34a;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 200px;
  font-size: 1.25em;
  font-weight: bold;
}

.button-placement {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .search-top {
    height: 500px;
    background: linear-gradient(
        45deg,
        rgb(250, 35, 81, 0.5) 30%,
        rgb(172, 83, 255, 0.5) 90%
      ),
      url(../../music_explosion_desktop.jpg) no-repeat 0 30%;
  }
}
